* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Slideshow images */
.hero-slideshow {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1);
    transition: opacity 1.5s ease-in-out, transform 6s ease-in-out;
}


.hero-slideshow img.active {
    opacity: 1;
}


/* No Fade */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}


/* Bottom Center text */
.hero-content {
    position: absolute;
    bottom: 60px;          /* controls how high from bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 2;
    max-width: 90%;
    width: max-content;

}



.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    white-space: nowrap;

}

.hero-content p {
    margin-top: 6px;
    font-size: 0.95rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.75;
}




/* Logo */
.hero-logo {
    width: 120px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {

    .hero-logo {
        width: 85px;
        margin-bottom: 14px;
    }

    .hero-content h1 {
        font-size: 2.2rem;
        white-space: normal;   
        text-align: center;
    }

    .hero-content p {
        font-size: 0.95rem;
    }
}



@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(-50%, -35%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-btn {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    padding: 9px 18px;
    color: white;
    background: rgba(120,120,120,0.35);
    border-radius: 30px;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
}
.hero-btn:hover {
    background: #8e8e8e;   /* solid grey */
    color: white;          /* white text */
    border-color: #8e8e8e;
}


